USE [master]
GO
/****** Object:  Database [WorldCup]    Script Date: 2024-05-22 02:54:00 ******/
CREATE DATABASE [WorldCup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorldCup', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WorldCup.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorldCup_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WorldCup_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorldCup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorldCup]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2024-05-22 02:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pair]    Script Date: 2024-05-22 02:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pair](
	[ID] [int] NOT NULL,
	[HomeTeam] [int] NOT NULL,
	[AwayTeam] [int] NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Pair] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pair]  WITH CHECK ADD  CONSTRAINT [FK_Pair_Country] FOREIGN KEY([HomeTeam])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Pair] CHECK CONSTRAINT [FK_Pair_Country]
GO
ALTER TABLE [dbo].[Pair]  WITH CHECK ADD  CONSTRAINT [FK_Pair_Country1] FOREIGN KEY([AwayTeam])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Pair] CHECK CONSTRAINT [FK_Pair_Country1]
GO
USE [master]
GO
